html {
    overflow-y: scroll;
}

body{
    background-color: rgba(255,251,236, 0.95);
}

header{
    position: absolute;
    width: 100%;
    padding: .5em 0;
}


/*nav bqr*/
nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(255,251,236, 0.95);
    padding: .5em 0;
    align-items: end;
}

.nav_list {
    padding: 0;
    text-align: center;
}

.nav_item {
    display: inline-block;
}
.nav_item a {
    display: block;
    color: rgb(0, 72, 123);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.9em;
    padding: 0.75em 1em;
    border-right: 1px solid rgb(0, 173, 187);
}

.nav_item a:hover a:focus{
     background-color: rgba(255,255,255,0.8);
     color: rgb(0,72,123);
 }

.nav_list > :first-child a {
    border-left: 1px solid rgb(0,173,187);
}

.main {
    padding-top: 100px;
    margin: auto;
    background-color: rgba(255,251,236, 0.95);
    display: table;
    height: 100vh;
    max-width: 50vw;
}

/*duck*/
.duck{
    position: absolute;
    width: 128px;
    height: 128px;
    background-size: 128px;
    background-repeat: no-repeat;
    background-image: url("../img/duck.png");
}