html {
    overflow-y: scroll;
}

body{
    background-color: var(--color-primary);
    color: var(--color-accent);
}

header{
    position: absolute;
    width: 100%;
    padding: .5em 0;
}


/*nav bqr*/
nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--color-accent);
    padding: .5em 0;
    align-items: end;
}

.nav_list {
    padding: 0;
    text-align: center;
}

.nav_item {
    display: inline-block;
}
.nav_item a {
    display: block;
    color: var(--color-primary);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.9em;
    padding: 0.75em 1em;
}

.nav_item a:hover a:focus{
     background-color: var(--color-primary-dark);
     color: var(--color-primary-light);
 }

.main {
    padding-top: 100px;
    margin: auto;
    background-color: var(--color-primary);
    display: table;
    height: 100vh;
    max-width: 50vw;
}

/*duck*/
.duck{
    position: absolute;
    width: 128px;
    height: 128px;
    background-size: 128px;
    background-repeat: no-repeat;
    background-image: url("../img/duck.png");
}