:root{
    --color-primary: #d81c4b;
    --color-primary-dark: #7c1e3b;
    --color-primary-light: #f63114;
    --color-accent: #421930;
    /*--color-primary: #a7a7a7;*/
    /*--color-primary-dark: #575757;*/
    /*--color-primary-light: #ffffff;*/
    /*--color-accent: #202020;*/
}